@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&display=swap");

body {
  background-image: url(./img/background.gif);
}

header {
  font-family: "Kiwi Maru", serif;
}

header,
main,
footer {
  background-color: #d2b48c;
}

nav {
  background-color: #fcebb6;
}
